/* Reset default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #092c3b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
}

/* Top navigation bar styles */
.TopBarNav {
    height: 90px;
    width: 100%;
    background: #040514;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    line-height: 80px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    margin: 0 8px;
}

nav a {
    color: #28dbc6;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;
}

nav a:hover {
    color: #4d661f;
}

.logo img {
    width: 100px;
    height: auto;
}

/* Form styles */
form {
    text-align: center;
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}
/* Controls font size of the text input */
input[type="text"],
input[type="file"],
input[type="submit"],
button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #b9ed6a;
    color: #2a798c;
    cursor: pointer;
}
/* Controls width of the text input boxes */
input[type="text"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    max-width: 400px;
}
/* Controls height of the text input boxes */
input[type="text"],
input[type="file"] {
    height: 40px;
}

button {
    font-size: 20px;
    background-color: grey;
    border-radius: 25px;
}

button:hover {
    background-color: #0ad440;
    color: #040514;
}
.image_upload {
    position: relative;
    display: inline-block;
}
