<!DOCTYPE html>
<!-- Add collectable main menu -->
<!--Define the language of the page as english using the UTF charset
    Importing boxicon website -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HyperFix8</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="TopBarNav">
        <a href="{{ url_for('mainMenu') }}" class="logo">
            <img src="{{ url_for('static', filename='HyperFix8_Logo_Crop.png') }}" alt="HyperFix8 Logo" class="logo-img">
        </a>
        <div class="nav-center-left">
            <h1>Add</h1>
        </div>
        <ul>
            <li><a href="{{ url_for('profile') }}" title="Profile"><i class='bx bxs-user-rectangle'></i></a></li>
            <li><a href="{{ url_for('settings') }}" title="Settings"><i class='bx bx-cog'></i></a></li>
            <li><a href="{{ url_for('signout') }}" title="Sign Out"><i class='bx bx-exit' ></i></a></li>
        </ul>
    </nav>
</head>
<body>
   <h1> Add Collectable </h1>

   <form action="{{ url_for('add') }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="item_name"> Item Name: </label>
            <input type="text" id="item_name" name="item_name" reqiuired>
        </div>
        <div>
            <label for="item_description"> Item Description: </label>
            <input type="text" id="item_description" name="item_description" reqiuired>
        </div>
        <div class="image_upload"> 
            <label title="Upload an image of type PNG, JPG, or JPEG" for="item_picture"> Item Picture: </label>
            <input type="file" id="item_picture" name="item_picture" class="bx bx-upload" reqiuired>
            <label for="item_picture" class="upload_button">
        </div>
        <div>
         
            <input type="submit" value="Submit">
        </div>
    </form>

    <a href="{{ url_for('mainMenu') }}">
        <button style="font-size:25px; background-color: grey; border-radius: 25px;">
        Return to Main Menu
        </button> 
    </a>
</body>
</html>