<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HyperFix8 Main Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainMenu.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="TopBarNav">
        <a href="{{ url_for('mainMenu') }}" class="logo">
            <img src="{{ url_for('static', filename='HyperFix8_Logo_Crop.png') }}" alt="HyperFix8 Logo" class="logo-img">
        </a>
        <ul>
            <li><a href="{{ url_for('profile') }}" title="Profile"><i class='bx bxs-user-rectangle'></i></a></li>
            <li><a href="{{ url_for('settings') }}" title="Settings"><i class='bx bx-cog'></i></a></li>
            <li><a href="{{ url_for('signout') }}" title="Sign Out"><i class='bx bx-exit' ></i></a></li>
        </ul>
    </nav>
<body>
    <img src="{{ url_for('static', filename='HyperFix8_Logo.png') }}" alt="HyperFix8 Logo" style="width:300px; height:auto;">
    <h1> HyperFix8 Main Menu</h1>
    <!-- Flash message container -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('add') }}">
        <button style="font-size:25px; background-color: grey; border-radius: 25px;">
       Add Menu
        </button> 
    </a>
    <a href="{{ url_for('update_delete') }}">
        <button style="font-size:25px; background-color: grey; border-radius: 25px;">
        Update / Delete Menu
        </button> 
    </a>
    <a href="{{ url_for('show_collectable') }}">
        <button style="font-size:25px; background-color: grey; border-radius: 25px;">
         Show Collectable Menu
        </button> 
    </a>
</body>
</html>
